@model IEnumerable<HiQo.StaffManagement.Domain.EntitiesDTO.RoleDto>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p><a class="btn btn-default" href="~/Role/Create">Create role &raquo;</a></p>
<table class="table">
    <thead>
    <tr>
        <td>Name</td>
    </tr>
    </thead>
    <tbody class="tab-content">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td><a class="btn btn-default" href="~/Role/Update/@role.RoleId">Edit &raquo;</a></td>
        </tr>
    }
    </tbody>
</table>
